################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
FlightBookingApp/obj/
FlightBookingApp/bin/
packages/
/FlightBookingApp/Views/customer_book
packages/
