@model System.Data.DataTable
@using System.Data

@{
    ViewBag.Title = "Index";
}
<h2>My orders</h2>
<table class="table table-striped table-bordered table-hover table-full-width dataTable" id="order">
    <tbody>
        <tr>
            <th>Booking Id</th>
            <th> Flight Number </th>
            <th>Flight From </th>
            <th> Flight To </th>
            <th>Flight Timing from </th>
            <th> Flight Timing To </th>
            <th>Payment</th>
            <th> Status </th>

            <th></th>
        </tr>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <td>@row[col.ColumnName]</td>
                }

                <td>
                    @if (row[7].Equals("SUCCESS"))
                    {

                        <button type="button" class="btn btn-primary" name="order_but" value="@row[0]">cancel</button>

                    }
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
    $(document).ready(function () {
        var result=[]
        $("button[name='order_but']").click(function () {
            result = []
            var $row = $(this).closest("tr");    // Find the row
                var $tds = $row.find("td");
                $.each($tds, function () {
                    result.push($(this).text());
                });
            $.ajax({
               url: '@Url.Action("updateCancel", "Orders")',
               type: 'post',
               data: { 'bookingid': result[0] },
               dataType: 'json',
               success: function (response) {

                   var url ='@Url.Action("OrderCancel", "Orders")'
                   window.location = url;
                    },
                });
            });

        });


    </script>
}
