html {
  position: relative;
  min-height: 100%;
}

body, td, th {
    font-family: Calibri;
    font-weight: normal;
    color: #333;    
}

body {  
    background-image: url('../images/giphy (3).gif');
    background-size: cover;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.pagecontainer {
    text-align:left;
    margin-top:35px;
}

.pagecontainer_Home {
    text-align: left;
    margin-top: 35px;
    min-width: 100px;
}

.HomeBCKImg {
    background-image: url('../images/giphy (3).gif');
    /*background-image: url(../images/BCK1.JPG);*/
    background-size: cover;
}