
    <form id="form1" method="post" action="/Search/Index"
          enctype="application/x-www-form-urlencoded">
        <div>
            <label for="from">from</label>
        </div>
        <div>
            <input name="from" type="text" />
        </div>
        <div>
            <label for="to">to</label>
        </div>
        <div>
            <input name="to" type="text" />
        </div>



        <div class="form-group">
            <label class="control-label">Appointment Time</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>



        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
