
<form id="form1" method="post" action="/Search/Index"
      enctype="application/x-www-form-urlencoded">
    <div>
        <label for="from">from</label>
    </div>
    <div>
        <input name="from" type="text" />
    </div>
    <div>
        <label for="to">to</label>
    </div>
    <div>
        <input name="to" type="text" />
    </div>

    <input type="date" id="fromtime"
       name="fromtime"
          ><br/>


   



    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
