
@{
    ViewBag.Title = "Index";
}
<h2>Search Page</h2>

<form id="form1" method="post" action="/Search/Index"
      enctype="application/x-www-form-urlencoded">
    <div>
        <label for="from">from</label>
    </div>
    <div>
        <input name="from" type="text" />
    </div>
    <div>
        <label for="to">to</label>
    </div>
    <div>
        <input name="to" type="text" />
    </div>

    <label>fromtime</label>
    <input type="date" id="fromtime"
           name="fromtime"><br />

    <label>totime</label>
    <input type="date" id="totime"
           name="totime"><br />


    <label>Airline choice</label>
    <div class="airline-select" style="width:200px;" id="airline_choice" name="airline_choice">
        <select name="airline_choice">
            <option value="-1">None</option>
            <option value="WestJet Airlines">WestJet Airlines</option>
            <option value="Air Canada">Air Canada</option>
            <option value="JetBlue Airways">JetBlue Airways</option>
        </select>
    </div>

    <label>Price range</label>
    <div class="price-range" style="width:200px;" id="price-range" name="price_range">
        <select name="price_range">
            <option value="-1">None</option>
            <option value="0">0-300</option>
            <option value="1">300-500</option>
            <option value="2">500 upper </option>
        </select>
    </div>

    <label for="tentacles">Number of people (1-10):</label>

    <input type="number" id="people_count" name="people_count"
           min="1" max="10">






    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

