<form id="form1" method="post" action="/Search/Index"
      enctype="application/x-www-form-urlencoded">
    <div>
        <label for="status">Status</label>
    </div>
    <div>
        <input name="status" type="text" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>