
@{
    ViewBag.Title = "AboutUs";
}

<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
</head>

<body>

    <h1>Who are we?</h1>
    <p>
        Easyfligths.ca is an easy solution for finding cheap flight tickets for Canada flights.

        We are a group of passionate students who want to help you find your flight in an easy way for Canadian flight. No more jump around and comparison between booking sites.

        Easyflights.ca makes your booking easy!
    </p>

    <h1>How do we do it?</h1>
    <p>
        Our innovative flight search, curated deals and inspirational content make it simple to find cheap flights within Canada.

        We partner with hundreds of providers - all over Canada – to bring you the cheapest plane tickets and personalized travel options.

        Our expertise and powerful search technology open up new travel possibilities and help you see Canada on a budget.
    </p>

    <h1>Why come to us?</h1>
    <p>
        From Toronto to Vancouver, Montreal to Calgary - millions of travellers rely on us for the best selection of cheap flights and travel deals.

        Our local experts have been serving up useful tips, destination information and travel inspiration since 2018.

        We know Canada the best– combining experience with local knowledge and our global network of partners to create amazing travel moments.
    </p>
</body>
</html>
