@{
    ViewBag.Title = "Contact Page";
}
<br /><br /><br />
<h2><b2>Information</b2></h2>
<br /></b2>
<address>
    <b>
        <h3>
            923 Robie Street<br />
            Halifax, NS<br />
            <abbr title="Phone">Phone No.:</abbr>
            425.555.8888
        </h3>
    </b>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@easyflights.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@easyflights.com</a>
</address>
<br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />