@{
    ViewBag.Title = "FAQ";
}
<h2>FAQ</h2>
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <h1>Questions about Bookings</h1>

    <H2>What should I do if I don't receive a confirmation email?</H2>
    <P>Cheapflights is a flight search and travel deals website. We do not take bookings, issue tickets, take payment or have any access to individual travel details. If you didn't get a confirmation from the airline or travel agent you booked with, first check your junk folder. If it's not hiding in there and you still haven't received an email after 24 hours, you'll need to contact your airline or travel agent.</P>

    <H2>How can I change or cancel my booking?</H2>
    <p>You'll need to contact the airline or travel agent you booked with as we do not hold nor have any access to individual travel records.</p>

    <H2>I don't know who I booked my flights with. How do I find out?</H2>
    <p>The company you booked with should appear on your booking confirmation. If you don't have the confirmation we recommend checking your bank or credit card statement to see who processed your payment.</p>

    <H2>I'm not sure if my booking went through. How do I find out?</H2>

    <p>Don't try to book again - you could end up with two bookings. Go ahead and contact the company you booked with directly to confirm if the transaction was successful.</p>

    <H2>Is hold baggage included in the prices shown?</H2>
    <P>Prices online are usually for flight fares only but they will include mandatory fees such as airport and fuel taxes. Hold baggage is often an extra cost. You would need to check the baggage price and allowance on the airline/agency site and add this on as you go through the booking process.</P>
</body>
</html>



