@model FlightBookingApp.Models.flight

@{
    ViewBag.Title = "Airlines Reservation System";

}
<script src="@Url.Content("~/Scripts/index.js")" type="text/javascript"></script>
<script id="RecentSearchesTemplate" type="text/template">
</script>

<div id="PnlHomePage">
    <div id="HomePageTitle">SEARCH FLIGHTS</div>
    <div id="PnlHomeSearch">
        <div id="LblMsg"></div><br />
        <div class="MyRow">
            <input type="radio" name="TripType" id="TripTypeSingle" value="SINGLE" autocomplete="off" class="HomeRadio" />
            <label for="TripTypeSingle"><span></span>ONE WAY</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="TripType" id="TripTypeRound" value="ROUND" autocomplete="off" checked class="HomeRadio" />
            <label for="TripTypeRound"><span></span>ROUND TRIP</label>
        </div>

        <div class="MyRow">
            <div class="TextBCK">
                <span id="Title">DEPARTURE</span>
                @Html.EditorFor(model => model.flight_from)
            </div>
            <div class="flightdirection" id="FlightDir">
                <img id="ImgFlightDir" src="~/images/ROUND.PNG" style="height:35px" />
            </div>
            <div style="float:right;">
                <div class="TextBCK">
                    <span id="Title">ARRIVAL</span>
                    @Html.EditorFor(model => model.flight_to)

                </div>
            </div>
        </div>

        <br /> <br />
        <div class="MyRow">
            <div class="DateBCK">
            </div>
            <div class="DateBCK" id="DivReturnDate">
                @Html.EditorFor(model => model.operating_date_from)
            </div>


        </div>

        <br /><br /><br />
        <div class="MyRow">
            <a class="mybtn" onclick="CallSearch();">Search Flights</a>
        </div>

    </div>

    <div id="countryName" style=" color: #5C00FF; font-size: 18px;"></div> <div id="city" style=" color: #5C00FF; font-size: 18px;"></div> <div id="timezone" style=" color: #5C00FF; font-size: 18px;"></div> <div id="ipaddress" style=" color: #5C00FF; font-size: 18px;"></div> <div id="language" style=" color: #5C00FF; font-size: 18px;"></div> <div id="latitude" style=" color: #5C00FF; font-size: 18px;"></div> <div id="longitude" style=" color: #5C00FF; font-size: 18px;"></div>
</div>
